/* Base CSS for every pages */

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #2f2f2f, #3a3a5e, #32415e, #1f5a80);
	height: 100vh;
	overflow: hidden;
	background-size: 400% 400%;
	animation: animateBG 15s ease infinite;
}

body main {
	width: 94vw;
	margin: 10px auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

/* Keyframes */
@keyframes animateBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}