<header>
    <!-- Items -->
    <div id="items-wrapper">

        <!-- Home -->
        <div class="item">
            <a href="/home"><img src="static/images/home.png" alt=""></a>
        </div>

        <!-- Chords / Key -->
        <div class="item">
            <a href="/key"><img src="static/images/key.png" alt=""></a>
        </div>

        <!-- Sheets -->
        <div class="item">
            <a href="/sheets"><img src="static/images/sheet.png" alt=""></a>
        </div>
        
        <!-- Sheets -->
        <div class="item">
            <a href="/knowledge"><img src="static/images/knowledge.png" alt=""></a>
        </div>
        
    </div>
</header>