{% extends "base.html" %}

<!-- Music Helper -->
{% block title %}MH / SHEETS{% endblock %}

<!-- Additional css -->
{% block css %}
<link rel="stylesheet" href="static/css/sheets.css">
{% endblock %}

{% block content %}
    <main>
        <h1>Sheets</h1>

        <!-- Sheets container -->
        <div>

            <div class="sheet">

            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>
    
{% endblock %}
